<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ebeletskiy.gmail.com.passwords"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="12" android:targetSdkVersion="11"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    android:debuggable="true" android:hardwareAccelerated="true">
        <activity android:name=".ui.WhatAreMyPasswordsActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustPan"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>